.btn {
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    line-height: 20px;
    border-radius: 2px;
    box-shadow: 0 2px 2px #666;
    background-color: var(--main-color);
    color: var(--main-color-anti);
    text-decoration: none;
    cursor: pointer;
}
    .btn:hover {
        box-shadow: 0 2px 4px #333;
    }
    .btn.fa {
        width: 48px;
        height: 48px;
        padding: 0;
        line-height: 48px;
        border-radius: 50%;
    }