body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.f-right {
    float: right;
}

.container {
    display: inline-block;
    width: 100%;
}
    #hero {
        min-height: 100vh;
        background-image: url(../img/background.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

.bg-main-color {
    background-color: var(--main-color);
    color: var(--main-color-anti);
}
.bg-secondary-color {
    background-color: var(--secondary-color);
    color: var(--secondary-color-anti);
}

.hero-container {
    display: inline-block;
    width: 500px;
    margin: 80px calc((100% - 500px) / 2) 40px;
    text-align: center;
}
    .hero-container > img {
        margin-bottom: 50px;
    }
    .hero-container > h1 {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 60px;
        line-height: 60px;
    }
    .hero-container > p {
        display: inline-block;
        width: 100%;
        margin-bottom: 50px;
        font-size: 20px;
        line-height: 20px;
    }
    .hero-container > .clock {
        display: inline-block;
        width: 100%;
        margin-bottom: 50px;
    }
        .clock > .time {
            display: inline-block;
            width: 25%;
            float: left;
        }
            .clock > .time > .value {
                display: inline-block;
                width: 100%;
                font-size: 60px;
                line-height: 60px;
            }
            .clock > .time > .title {
                display: inline-block;
                width: 100%;
                font-size: 16px;
                line-height: 20px;
            }
    .hero-container > form {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
    }
    .hero-container > .mouse {
        display: inline-block;
        width: 100px;
        height: 160px;
        border: 10px solid #FFF;
        border-radius: 50px;
        text-align: center;
    }
        .hero-container > .mouse > .wheel {
            display: inline-block;
            width: 10px;
            height: 30px;
            border-radius: 5px;
            background-color: #FFF;
            margin-top: 25px;

            animation-name: mouseMove;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            /* animation-delay: 3s; */
        }
            .hero-container > .mouse > .wheel:hover {
                animation-play-state: paused;
            }

        @keyframes mouseMove {
            0% {
                margin-top: 0;
                background-color: #FFF;
            }
            20% {
                margin-top: 0;
                background-color: #FFF;
            }
            100% {
                margin-top: 90px;
                background-color: transparent;
            }
        }

.content {
    display: inline-block;
    width: 1200px;
    margin: 0 calc((100% - 1200px) / 2);
    padding: 80px 0;
}
    .content > .left {
        display: inline-block;
        width: 50%;
        float: left;
    }
    .content > .right {
        display: inline-block;
        width: 40%;
        float: left;
        margin-left: 10%;
    }
    .content h2 {
        display: inline-block;
        width: 100%;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
        /* .content h2::first-letter {
            text-transform: uppercase;
        } */
    .content p {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 25px;
        color: var(--dark-grey-color);
    }
        .content p > span,
        .content p > a {
            color: var(--main-color);
            text-decoration: none;
        }

footer > .content {
    padding: 20px 0;
    text-align: center;
    position: relative;
}
    footer > .content > .social-icons {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #FFF;
    }
        footer > .content > .social-icons > a {
            width: 36px;
            color: inherit;
            text-decoration: none;
            margin: 5px;
            padding: 10px;
        }
            footer > .content > .social-icons > a:hover {
                background-color: #FFF;
                color: var(--secondary-color);
                border-radius: 50%;
            }
    footer > .content p {
        color: inherit;
    }

.back-to-top {
    position: absolute;
    top: -28px;
    right: -14px;
}

@media ( max-width: 1300px ) {
    .content {
        width: 1000px;
        margin: 0 calc((100% - 1000px) / 2);
    }
}

@media ( max-width: 1100px ) {
    .content {
        width: 700px;
        margin: 0 calc((100% - 700px) / 2);
    }
}

@media ( max-width: 800px ) {
    .content {
        width: 100%;
        margin: 0;
        padding: 80px 40px;
    }
        .content > .left {
            width: 100%;
        }
        .content > .right {
            width: 100%;
            margin: 80px 0 0 0;
        }
    footer > .content {
        padding: 20px 40px;
    }
    .back-to-top {
        display: none;
    }
}

@media ( max-width: 600px ) {
    .hero-container {
        width: calc(100% - 40px);
        margin: 80px 20px 40px;
    }
}

@media ( max-width: 440px ) {
    .clock > .time {
        width: 50%;
        margin: 20px 0;
    }
    form input.col-2 {
        width: 100%;
    }
        form input.col-2:nth-child(2) {
            margin-left: 0;
        }
}