:root {
    scroll-behavior: smooth;
    --main-color: #EA1D62;
    --main-color-anti: #FFF;
    --secondary-color: #03A9F5;
    --secondary-color-anti: #FFF;
    --grey-color: #D2D2D2;
    --dark-grey-color: #777;
}